# Virtual environments
tts-env/
.venv/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Distribution/build files
*.egg-info/
dist/
build/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Env files
.env
